.honda-box {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 0px 1px rgb(231, 224, 224);
}

.btn {
    border: 1px solid black;
}

.btn:hover {
    background: #e76f51;
}
